// Custom.scss
// Subdued & Professional
$mist:           #90AFC5;
$stone:          #336B87;
$shadow:         #2A3132;
$autum_foliage:  #763626;
// Berry Blues
$midnight_blue:  #1E1F26;
$indigo_ink:     #4D648D;
$blueberry:      #D0E1F9;
$Periwinkle:     #D0E1F9;

$light:          #FFFFFF;
$dark:           #000000;

i.icon-light {
  color:         $light;
}

$theme-colors: (
  "primary":     $shadow,
  "secondary":   $indigo_ink,
  "info":        $mist,
  "light":       $light,
  "dark":        $dark
);

body {
    overflow-x: hidden;
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }





// Custom.scss

// Option A: Include all of Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";
