// Custom.scss
// Subdued & Professional
$mist:                   #90AFC5;
$stone:                  #336B87;
$shadow:                 #2A3132;
$autum_foliage:          #763626;
$midnight_blue:          #1E1F26;
$indigo_ink:             #4D648D;
$blueberry:              #D0E1F9;
$Periwinkle:             #D0E1F9;
$light:                  #FFFFFF;
$dark:                   #000000;
$spring_green:           #69ff94;
$stem:                   #80BD9D;
$petal:                  #F98866;
$mirage:                 #1e1f29;
$baltic_sea:             #20212b;
$charade:                #282a36;
$spring_green:           #69ff94;
$persian_pink:           #ff79c6;
$honey_sucle:            #e8ff81;
$mauve:                  #d6acff;
$peach:                  #ffcc99;
$blue_servicio:          #46c6e9;
$green_servicio:         #b0c536;
$blue_tec:               #0055a6;

$theme-colors: (
  "primary":               $mirage,
  "secondary":             $baltic_sea,
  "info":                  $charade,
  "green":                 $spring_green,
  "pink":                  $persian_pink,
  "yellow":                $honey_sucle,
  "purple":                $mauve,
  "peach":                 $peach,
  "blue":                  $blueberry,
  "midnight_blue":         $midnight_blue
);

img.iconprofile {
  height: 50px;
  width: 50px;
  display: block;
  border-radius: 50%;
}
  
// Option A: Include all of Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";
