:root { 
  --primary:        #1e1f29; 
  --secondary:      #20212b;
  --info:           #282a36;
  --green :         #69ff94;
  --pink:           #ff79c6;
  --yellow:         #e8ff81;
  --purple:         #d6acff;
  --peach:          #ffcc99;
  --blue:           #D0E1F9;
  --midnight_blue:  #1E1F26;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--info);
  margin-bottom: 80px;
}

#mySidebar {
  position:            fixed;
  overflow-x:          hidden;
  z-index:             9;
  width:               250px;
  height:              100%; 
  transition:          0.5s;
}







#myDirectories{
  height:              100%; 
  background-color:    var(--secondary);
}



#myDirectories a {
  font-weight:         bold;
  text-decoration:     none;
  color:               var(--peach);

}

#myDirectories h5{
  font-size:           16px;
  display:             inline;
}

#myDirectories i {
  padding-right:       10px;
  color:               var(--purple);
  font-size:           16px;
}









img.iconprofile {
  margin:              0px 0px 0px 10px;
  height:              70px;
  width:               70px;
  display:             block;
  border-radius:       10%;
  border-style: solid;
  border-color:        var(--peach);
  border-width:        3px;
}

#myHeader{
  border-bottom-style: solid;
  border-color:        var(--info);
  border-width:        2px;
  background-color: var(--primary);

}

#myHeader a {
  font-size:           10px;
  text-decoration:     none;
  padding:             0px 3px 0px 3px;
  margin:              0px 3px 0px 3px;
}

#myHeader i {
  display: inline;
  margin:             0px 0px 0px 0px;
  padding:            0px 5px 0px 0px;
  font-size:           18px;
  font-weight:         bold;
  text-decoration:     none;
  color:               var(--green);
}

#myHeader h5{
  display:             inline;
  color:               var(--blue);
  font-size:           14px;
  font-weight:         bold;
  padding:             0px 0px 0px 0px;
  
}








































#myTab {
  margin-left:      20px;
  margin-right:     20px;

}

.navbar{
  padding-right:    40px;
  padding-left:     40px;
  padding-top:      10px;
  padding-bottom:   10px;
  z-index: 10;
}

#myFooter{
  padding-right:    40px;
  padding-left:     40px;
  padding-top:      10px;
  background-color: var(--primary);


}

.breadcrumb {
  padding-right:    auto;
  padding-left:     auto;
  width:            auto;
  background-color: var(--primary);
}

.breadcrumb li{
  color:               var(--pink);
  font-weight:         bold;
  font-size:           16px;
  border-bottom-style: solid;
  border-color:        var(--green);
  border-width:        2px;
}

.breadcrumb a{
  color:            var(--pink);
  font-weight:      bold;
  font-size:        16px;


}

.breadcrumb-item{
  color:            var(--yellow);
}

.container{
  color:            var(--green);
  font-size:        16px;
  font-weight:      bold;
}

.nav-item a {
  color:            var(--light);
  font-weight:      bold;
  font-size:        16px;
  border-style:     none
}

.tab-pane {
  padding-top:      30px;
  padding-bottom:   30px;
  padding-left:     20px;
  padding-right:    20px;
}


.tab-pane h5 {
  color:            var(--purple);
  font-weight:      bold;
  font-size:        16px;
}



#main {
  transition:    margin-left .5s;
  margin-left:         250px;
  height:              100%; 

}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

#launch{
  padding-top:      12px;
  display:          inline-block;
}

.myButton{
  font-weight:      bold;
  font-size:        14px;
}
