:root { 
  --primary:        #1e1f29; 
  --secondary:      #20212b;
  --info:           #282a36;
  --green :         #69ff94;
  --pink:           #ff79c6;
  --yellow:         #e8ff81;
  --purple:         #d6acff;
  --peach:          #ffcc99;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--info);
  margin-bottom: 80px;
}

.sidebar {
  position:            fixed;
  overflow-x:          hidden;
  z-index:             1;
  width:               250px;
  top:                 0;
  left:                0;
  height:              100%; 
  transition:          0.5s;
  background-color:    var(--secondary);
}

.sidebar a {
  display:             block;
  transition:          0.5s;
  padding-top:         10px;
  padding-bottom:      10px;
  padding-left:        20px;
  padding-right:       20px;
  font-size:           18px;
  font-weight:         bold;
  text-decoration:     none;
  color:               var(--peach);
  background-color:    var(--secondary);
  border-bottom-style: solid;
  border-color:        var(--purple);
  border-width:        1px;
}

.sidebar i {
  padding-right:    10px;
  font-size:        18px;
  color:            var(--purple);
}

img.iconprofile {
  height:              75px;
  width:               75px;
  display:             block;
  border-radius:       50%;
  margin-left:         auto;
  margin-right:        auto;
  margin-bottom:       20px;
  border-bottom-style: dotted;
  border-color:        var(--green);
  border-width:        5px;
}

.header{
  padding-top:         20px;
  border-bottom-style: solid;
  border-color:        var(--green);
  border-width:        5px;
  background-image:    url("../images/splatoon2.jpg");
  background-size:     cover;
  background-repeat:   no-repeat;

}


.header h5{
  color:               var(--primary);
  font-size:           16px;
  font-weight:         bold;
  text-align:          center;
  
}


#myTab {
  margin-left:      20px;
  margin-right:     20px;

}

.navbar{
  padding-right:    40px;
  padding-left:     40px;
  padding-top:      10px;
  padding-bottom:   10px;
  z-index: 10;
}

#myFooter{
  padding-right:    40px;
  padding-left:     40px;
  padding-top:      10px;
  background-color: var(--secondary);
  border-top-style: solid;
  border-color:     var(--yellow);
  border-width:     5px;

}

.breadcrumb {
  padding-right:    auto;
  padding-left:     auto;
  width:            auto;
  background-color: var(--secondary);
}

.breadcrumb li{
  color:            var(--pink);
  font-weight:      bold;
  font-size:        18px;
  border-bottom-style: solid;
  border-color:        var(--green);
  border-width:        2px;
}

.breadcrumb a{
  color:            var(--pink);
  font-weight:      bold;
  font-size:        18px;


}

.breadcrumb-item{
  color:            var(--yellow);
}

.container{
  z-index: 5;
  color:            var(--green);
  font-size:        18px;
  font-weight:      bold;
}

.nav-item a {
  color:            var(--light);
  font-weight:      bold;
  font-size:        18px;
  border-style:     none
}

.tab-pane {
  padding-top:      30px;
  padding-bottom:   30px;
  padding-left:     20px;
  padding-right:    20px;
}


.tab-pane h5 {
  color:            var(--purple);
  font-weight:      bold;
  font-size:        18px;
}



#main {
  transition:    margin-left .5s;
  margin-left:   250px

}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

#launch{
  padding-top:      12px;
  display:          inline-block;
}

.myButton{
  font-weight:      bold;
  font-size:        14px;
}
